<template>
  <div class="v-export">
     <p> 异步获取数据，并导出。 点击`导出`按钮，会导出数据</p>

      <button @click="onExport" style="padding: 8px 20px; cursor: pointer">导出</button>

      <div>
          <p>渲染的table如下</p>
          <img src="./1.jpg" class="demo-img" alt="">
      </div>

      <div>
          展示的数据结构如下
          <pre>
             {
                "payload": {
                    "totalElements": 14,
                    "content": [
                        {
                            "sort": "应用类",
                            "module": "统一认证",
                            "name": "进程监测",
                            "content": "获取进程总数",
                            "hostIp": "129.204.31.8",
                            "createAt": 1550737204577,
                            "result": "119",
                            "expectation": "26",
                            "verdict": "异常"
                        }
                    ],
                    "number": 0,
                    "size": 0,
                    "totalPages": 0,
                    "numberOfElements": 10
                },
                "code": "0",
                "msg": "ok"
            }
          </pre>

      </div>
      <a id="downlink" ></a>
  </div>
</template>

<script>
import axios from 'axios'
import XLSX from 'xlsx'
const inspectionResults =
  'http://yapi.deepexi.io:5002/mock/826/api/v1/inspectionResults'
export default {
  name: 'VExport',
  props: {},
  data() {
    return {}
  },
  mounted() {
    this.outFile = document.getElementById('downlink')
  },
  methods: {
    onExport() {
      /* set up an async GET request with axios */
      axios.get(inspectionResults).then(resp => {
        let rawData = resp.data.payload.content // [{}]

        this.downloadExl(rawData, 'test')
      })
    },
    downloadExl: function(json, downName, type) {
      // 导出到excel
      let keyMap = [] // 获取键
      for (let k in json[0]) {
        keyMap.push(k)
      }

      // 添加header
      // let header = keyMap.reduce((result, key) => {
      //   result[key] = key
      //   return result
      // }, {})

      let header = {
        sort: '分类',
        module: '模块',
        name: '巡检项',
        content: '巡检内容',
        createAt: '执行时间',
        hostIp: '执行主机',
        expectation: '期望值',
        result: '巡检结果',
        verdict: '结论'
      }

      const downloadData = [header, ...json]

      let tmpdata = [] // 用来保存转换好的json
      downloadData
        .map((v, i) =>
          keyMap.map((k, j) =>
            Object.assign(
              {},
              {
                v: v[k],
                position:
                  (j > 25 ? this.getCharCol(j) : String.fromCharCode(65 + j)) +
                  (i + 1)
              }
            )
          )
        )
        .reduce((prev, next) => prev.concat(next))
        .forEach(function(v) {
          tmpdata[v.position] = {
            v: v.v
          }
        })
      let outputPos = Object.keys(tmpdata) // 设置区域,比如表格从A1到D10
      let tmpWB = {
        SheetNames: ['sheet1'], // 保存的表标题
        Sheets: {
          sheet1: Object.assign(
            {},
            tmpdata, // 内容
            {
              '!ref': outputPos[0] + ':' + outputPos[outputPos.length - 1] // 设置填充区域
            }
          )
        }
      }
      let tmpDown = new Blob(
        [
          this.s2ab(
            XLSX.write(
              tmpWB,
              {
                bookType: type === undefined ? 'xlsx' : type,
                bookSST: false,
                type: 'binary'
              } // 这里的数据是用来定义导出的格式类型
            )
          )
        ],
        {
          type: ''
        }
      ) // 创建二进制对象写入转换好的字节流
      var href = URL.createObjectURL(tmpDown) // 创建对象超链接 // 兼容性
      this.outFile.download = downName + '.xlsx' // 下载名称
      this.outFile.href = href // 绑定a标签
      this.outFile.click() // 模拟点击实现下载
      setTimeout(function() {
        // 延时释放
        URL.revokeObjectURL(tmpDown) // 用URL.revokeObjectURL()来释放这个object URL
      }, 100)
    },
    getCharCol: function(n) {
      // 将指定的自然数转换为26进制表示。映射关系：[0-25] -> [A-Z]。
      let s = ''
      let m = 0
      while (n > 0) {
        m = n % 26 + 1
        s = String.fromCharCode(m + 64) + s
        n = (n - m) / 26
      }
      return s
    },
    s2ab: function(s) {
      // 字符串转字符流
      var buf = new ArrayBuffer(s.length)
      var view = new Uint8Array(buf)
      for (var i = 0; i !== s.length; ++i) {
        view[i] = s.charCodeAt(i) & 0xff
      }
      return buf
    }
  }
}
</script>

<style lang="stylus">
.v-export {
    .demo-img {
        height:350px;
    }
}
</style>
